---
import AstroIcon from "@icons/AstroIcon.astro";
---

<footer
  class="h-10 flex flex-col justify-center items-center mt-5 mb-4 text-slate-600 dark:text-slate-300"
>
  <div class="flex">
    <a href="https://github.com/AlejoCzombos/Portfolio">Hecho con</a>
    <AstroIcon />
  </div>
  <p class="text-sm">
    Diseño de <a
      href="https://www.linkedin.com/in/eduardo-robles-9b0807205/"
      >Eduardo Rl</a
    >
  </p>
</footer>