---
import SectionHeader from "@components/SectionHeader.astro";
import ProjectIcon from "@icons/ProjectIcon.astro";
import { projects } from "@data/projects.ts";
import ProjectCard from "@components/ProjectCard.astro";
---

<section>
      <SectionHeader name="Proyectos">
        <ProjectIcon className="size-9" />
      </SectionHeader>
      <div class="flex flex-col gap-10">
        <!-- <div class="grid gap-10">
          {projects.map((project) => <ProjectCard project={project} />)}
        </div> -->
        <div class="grid md:grid-cols-2 gap-2 sm:gap-5">
          {
            projects.map((project) => (
              <ProjectCard project={project} />
            ))
          }
        </div>
      </div>
    </section>