---
import Layout from "@layouts/Layout.astro";

import Profile from "@components/Sections/Profile.astro";
import Experience from "@components/Sections/Experience.astro";
import Techs from "@components/Sections/Techs.astro";
import Socials from "@components/Sections/Socials.astro";
import Contact from "@components/Contact.astro";
import Projects from "@components/Sections/Projects.astro";
---

<Layout
  title="Portfolio de Alejo Czombos - Desarrollador Backend"
  description="Desarrollador Backend con experiencia en Node.js, TypeScript, Express, PostgreSQL, MySQL, MongoDB y Docker. Especializado en la creación de APIs RESTful y microservicios. Conocimientos en DevOps y metodologías ágiles."
>
  <main class="flex flex-col gap-16 sm:max-w-3xl m-auto p-5">
    <Profile />
    <hr class="border-dashed border-1" />
    <Experience />
    <Projects />
    <Techs />
    <Socials />
    <Contact />
  </main>
</Layout>
