---
import Layout from "@layouts/Layout.astro";

import { experience } from "@data/experience.ts";
import { projects } from "@data/projects.ts";
import { otherProjects } from "@data/projects.ts";

import SectionHeader from "@components/SectionHeader.astro";
import Profile from "@components/Profile.astro";
import ExperienceArticule from "@components/ExperienceArticule.astro";
import ProjectCard from "@components/ProjectCard.astro";
import OtherProjectCard from "@components/OtherProjectCard.astro";

import ExpirenceIcon from "@icons/ExpirenceIcon.astro";
import ProjectIcon from "@icons/ProjectIcon.astro";
---

<Layout
  title="Portfolio de Alejo Czombos - Desarrollador Backend / Full Stack"
  description="Desarrollador Backend / Full Stack con experiencia en Spring Boot, Java, MySQL, PostgreSQL y React"
>
  <header class="mx-auto max-w-3xl sticky top-0 z-10 h-16"></header>
  <main class="flex flex-col gap-16 sm:max-w-3xl m-auto p-5 container">
    <section
      class="flex flex-col justify-center sm:flex-row sm:justify-start sm:gap-5"
    >
      <Profile />
    </section>
    <hr class="border-dashed border-1" />
    <section class="flex flex-col">
      <SectionHeader name="Experiencia">
        <ExpirenceIcon className="size-9" />
      </SectionHeader>
      {
        experience.map((experience) => (
          <ExperienceArticule experience={experience} />
        ))
      }
    </section>
    <section class="">
      <SectionHeader name="Proyectos">
        <ProjectIcon className="size-9" />
      </SectionHeader>
      <div class="flex flex-col gap-10">
        <div class="grid gap-10">
          {projects.map((project) => <ProjectCard project={project} />)}
        </div>
        <div class="grid md:grid-cols-2 gap-2 sm:gap-5">
          {
            otherProjects.map((project) => (
              <OtherProjectCard project={project} />
            ))
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
