---
import Layout from '../layouts/Layout.astro';
---

<Layout
 title="Portfolio de Alejo Czombos - Desarrollador Backend / Full Stack"
 description='Desarrollador Backend / Full Stack con experiencia en Spring Boot, Java, MySQL, PostgreSQL y React'
>
	<main>
		<h1 class="text-3xl text-center font-bold">Alejo Czombos</h1>
		<a href="https://www.svgrepo.com/collection/solar-bold-duotone-icons/">Iconos Duecolor</a>
	</main>
</Layout>