---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<header
  class="font-bold text-2xl text-sky-600/60 dark:text-gray-100 mb-6 flex items-center gap-3"
>
  <slot />
  <h2 class="text-2xl font-bold">{name}</h2>
</header>
