---
import { Icon } from "astro-icon/components";

interface Props {
  tech: string;
}

const { tech } = Astro.props;
---

<span
  class="px-3 py-1 bg-sky-100 dark:bg-slate-700 text-sky-700 dark:text-slate-300 rounded-full text-sm font-medium hover:bg-sky-200 dark:hover:bg-slate-600 transition-colors duration-200 cursor-default"
>
  {tech}
</span>