---
import { TechIcons } from "@data/projects.ts";
import { techs } from "@data/techs.ts";
import { Icon } from "astro-icon/components";
---

<div class="grid gap-4 grid-cols-2 sm:grid-cols-3 md:grid-cols-5">
  {
    techs.map((tech) => (
      <div class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border-2 dark:border-slate-700 shadow border-slate-300 p-4">
        <Icon name={`tech/${tech}`} class="size-10" />
        <p class="text-slate-600 dark:text-slate-300 font-medium">
          {Object.keys(TechIcons)[Object.values(TechIcons).indexOf(`${tech}`)]}
        </p>
      </div>
    ))
  }
</div>
