---
import '@fontsource-variable/onest';
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body class=" bg-slate-100 dark:bg-gray-800">
		<slot />
	</body>
</html>
<style is:global>
	:root{
		color-scheme: dark light;
	}
	html{
		font-family: 'Onest', sans-serif, system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell;
	}
</style>